*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    max-width: 100%;
}


:root{
    -- Soft blue: hsl(215, 51%, 70%);
    -- Cyan: hsl(178, 100%, 50%);


/*### Neutral  */

- Very dark blue (main BG): hsl(217, 54%, 11%);
- Very dark blue (card BG): hsl(216, 50%, 16%);
- Very dark blue (line): hsl(215, 32%, 27%);
- White: hsl(0, 0%, 100%);
}

ul{
list-style-type: none;
}

p{
    font-weight: 300;
    color: dimgray;
    font-size: 14px;
}

body{
    font-family: 'outfit', sans-serif;
    font-size: 17px;
    background-color: hsl(217, 54%, 11%);
    padding:1.5rem;
}

.container{
    padding: 1.25rem;
    background-color:hsl(216, 50%, 16%);
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.container .main-image{
position: relative;
}

.container .main-image div{
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 75%);
    width: 100%;
    z-index: 500px;
    display: none;
}

.container .main-image div img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.container h2{
color: white;
margin: 1rem 0.5rem 0.5rem 0;
font-size: 18px;
}

.container h2 :hover{
color: var(--cyan);
cursor: pointer;
}

.container ul{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 0;
border-bottom: 1px solid var(--line);
font-size: 13px;
}

.container ul li:first-child{
    color: cyan;
}

.container ul li{
    display: flex;
    align-items: center;
}

.container ul li img{
    margin-right: 0.5rem;
}

.container .avartar{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 2.7rem;
}

.container .avartar img{
    width: 3.5rem;
    border: 2px solid var(--white);
    border-radius:50% ;
    margin-right: 1rem;
}

.container .avartar p span{
    color:white;
    font-weight: 400;
    font-size: 13px;
}

.container .avartar p span :hover{
    color: var(--cyan);
    cursor: pointer;
}

.hr{
display: flex;
justify-content: center;
align-items: center;
width: 80%;
}


.attribution{
    font-size: 16px;
    text-align: center;
}

.attribution a{
color: blueviolet;
}